* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  user-select: none;
}

button:hover {
  opacity: 0.75;
}

button:active {
  scale: 1.05;
}

button:focus {
  outline: none;
}

.container {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  background-color: #000;
  display: flex;
  flex-flow: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display {
  display: flex;
  justify-content: end;
  padding: 16px;
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: #fff;
  user-select: none;
}

.top-buttons {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-flow: row;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.number {
  background-color: orange;
}

.doubled {
  width: 110px;
}

.clear {
  width: 170px;
  background-color: rgb(255, 27, 27);
}

.operators {
  display: flex;
  flex-flow: column;
  gap: 10px;
}